body {
  font-family: Arial, sans-serif;
  background-color: #fdf6e3; /* Soft cream */
  color: #6e1b1b; /* Deep burgundy */
  margin: 0;
  padding: 0;
}

header {
  background-color: #6e1b1b;
  color: #fdf6e3;
  padding: 1rem;
  text-align: center;
}

header nav a {
  color: #fdf6e3;
  margin: 0 1rem;
  text-decoration: none;
}

section {
  padding: 1rem;
  /* margin-bottom: 1rem; */
}


#order a {
  background-color: #6e1b1b;
  color: #fdf6e3;
  margin: 0 auto; 
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

#order a:hover {
  color: #5a1616;


}

#contact {
  text-align: center;  /* centers all inline/inline-block elements inside */
  padding: 1rem;
  background-color: none;
  border-top: 2px solid #6e1b1b;
}

#contact a {
  background-color: none;
  color: #6e1b1b;
  text-decoration: none;
  font-weight: normal;
  /* padding: 1rem; */
  /* background-color: #fff7e6; /* soft light background to differentiate */
  /* border-top: 2px solid #6e1b1b; */
}

#contact a:hover {
  color: #5a1616;
}



#logo {
  /* background-color: transparent; */
  max-width: 200px; /* adjust size */
  height: auto;
  display: block;
  margin: 0 auto; /* centers the logo horizontally */
  padding: 2rem;
}



