body {
  font-family: Arial, sans-serif;
  background-color: #fdf6e3; /* Soft cream */
  color: #6e1b1b; /* Deep burgundy */
  margin: 0;
  padding: 0;
}

header {
  background-color: #6e1b1b;
  color: #fdf6e3;
  padding: 1rem;
  text-align: center;
}

header nav a {
  color: #fdf6e3;
  margin: 0 1rem;
  text-decoration: none;
}

section {
  padding: 1rem;
  /* margin-bottom: 1rem; */
}

a {
  background-color: #6e1b1b;
  color: #fdf6e3;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

c {
  background-color: #6e1b1b;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

#order a:hover {
  color: #fff8b3;
}

#contact {
  padding: 2rem;
  /* background-color: #fff7e6; /* soft light background to differentiate */
  /* border-top: 2px solid #6e1b1b; */ */
}
/* 
#contact h3 {
  color: #6e1b1b;
  margin-bottom: 1rem;
} */

/* #contact a {
  color: #6e1b1b;
  text-decoration: none;
  font-weight: bold;
} */

#contact a:hover {
  color: #fff8b3;
}



#logo {
  /* background-color: transparent; */
  max-width: 200px; /* adjust size */
  height: auto;
  display: block;
  /* margin: 1rem; /* centers the logo */ */
  padding: 1rem;
}

/* Remove GitHub Pages automatic anchor icons from headings */
/* a.anchor {
  display: none;
} */
